html,
body {
  padding: 0;
  margin: 0;
  margin: 1rem auto;
  max-width: 45rem;
  display: block;
  align-items: center;
  color: #222;
  background-color:rgb(247, 247, 247);
}

a {
  color: #222;
}

* {
  box-sizing: border-box;
}

li{
  padding-top: 10px;
  padding-bottom: 10px;
}