.container {
  padding: 0 2rem;
}
.page {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
}
.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}
.title,
.description {
  text-align: left;
  
}

.description {
  margin: 2rem 0;
  line-height: 1.3;
  font-size: 1.2rem;
  text-align: left;
}
.description a{
  font-weight: bold;
}
.description a:hover{
  color:blue;
}

.markLabel{
  color:#eee;
}
.wrapper {
  display: grid;
  /* align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; */
  grid-template-columns: repeat(2, 1fr);

}
.welcomeText{
  display: flex;
  justify-content: center;
}
.imageHello{
  display: flex;
  justify-content: center;
}

.card {
  margin: 1rem;
 
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #757575;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
}

.card h2 {
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}